<header>
  <ul>
    <li [routerLink]="['']">{{ "commons.header.nav.home" | transloco }}</li>
    <li [routerLink]="['/items']">
      {{ "commons.header.nav.items" | transloco }}
    </li>
    <li [routerLink]="['/scripts']">
      {{ "commons.header.nav.scripts" | transloco }}
    </li>
  </ul>
  <div class="lang">
    <button
      aria-label="button to open language selector menu"
      mat-button
      color="primary"
      (click)="openLanguageModal()"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="language icon"
        fontIcon="language"
      ></mat-icon>
      {{ selectedLang$ | async }}
    </button>
  </div>
</header>
