<button mat-button color="primary" [routerLink]="['../']">
  volver al listado de guiones
</button>
<div class="container">
  <ng-container *ngIf="script$ | async as script; loadingScript">
    <section class="script">
      <div class="title">
        <h1>{{ script.title }}</h1>

        <img
          width="1354"
          height="78"
          role="separator"
          src="assets/images/borders/leaf.png"
          alt=""
        />
      </div>
      <div [sugarFormatter]="script.content"></div>
      <!-- <p>
        En las profundidades de las cloacas de Leyndell, un niño llora
        desconsolado, encadenado en un laberinto de túneles oscuros, rodeado de
        heces y gusanos. Es un hogar para los <i>despojados</i>,
        <i>los marginados</i>, <i>los rechazados</i>...
      </p>
      <p>
        Arriba, en el cielo dorado del reino, la vida es opulenta y pacífica.
        Pero debajo yace la podredumbre y la miseria. ¿Qué pecado cometió este
        pequeño para merecer tal destino? ¿Por qué la vida le ha tratado con
        tanta crueldad? ¿Qué alma tan temprana merece ese destino cruel?
      </p>
      <p>
        El niño no nació entre la mugre y la suciedad, no nació esclavo. Nació
        arriba, en su cielo puro, a los pies del árbol áureo.
      </p>
      <p>Su nombre viajó como un susurro en el reino: <b>Morgott</b>.</p>
      <p>
        Su vida tendría que haber sido de absoluta belleza, luz y paz. Pero fue
        maldito, quizás en el vientre, quizás al nacer, no lo sé. El árbol nunca
        le otorgó su gracia, su cuerpo nació deforme, su rostro de
        protuberancias, de cuernos. Su frágil piel de ceniza, de escamas rotas,
        de plumas. Así como las primeras criaturas, en un principio sagradas,
        Morgot, el pequeño niño, nació como el caos de la vida, como el crisol
        de la vida, una combinación de múltiples seres en uno solo.
      </p>
      <p>
        La mera existencia de bebés como Morgott en medio de la civilización…
        tan avanzada, tan refinada, tan sofisticada, era un insulto para la
        Orden Dorada, para los fervientes seguidores de la Fe del Árbol Áureo.
        Su árbol no podía generar tales seres, ¿¡qué clase de árbol sería!? Si
        el árbol no fuera una máquina perfecta, si el oro fallara… tan solo
        podría ser el augurio, el augurio de la pérdida de poder del árbol, de
        la orden. ¡Y su familia lo sabía!
      </p>
      <p>
        <i
          >Lo que dirían los demás, lo que diría todo el mundo cuando vieran a
          la abominación, a Morgott, el augurio, el augurio del fin de la era
          del Árbol Aureo, la amenaza de la Orden Dorada</i
        >
      </p>
      <p>
        Habían, por supuesto, asesinos dentro de la orden que rastreaban a los
        que representaran una amenaza para la fe, y dentro de ese selecto grupo,
        especialistas en el asesinato de augurios: infanticidas y genocidas,
        cazadores incansables. Pero su familia le tenía un aprecio muy especial
        al infante Morgot, por eso, como a todos los augurios amados por sus
        familias, fue arrojado y encadenado en las alcantarillas de Leyndell,
        lejos de la vista pública.
      </p>
      <p>
        En la oscuridad… el reino dorado se transformó en su cielo, las aguas
        cloacales en sus pies.
      </p>
      <p>
        Su sangre maldita trajo la mirada de una entidad indeseable, de la madre
        de la verdad, alguna clase de entidad fuera de este mundo. Y por eso, el
        augurio, con el paso del tiempo aprendió a controlar su maldición, a
        sellar su fuerza; pues aunque increíble, con el paso de los años no
        sintió resentimiento o apatía por la Orden Dorada, sino por el
        contrario, amor.
      </p>
      <p>
        <i>
          ¿Y qué cambiaría si te dijera… que la familia de Morgott no es otra
          que la familia real…? y qué si te dijera… que Morgott es, de hecho, el
          rey legítimo de Leyndell?</i
        >
      </p>
      <p>Y los años pasaron… En el reino, la turbulencia.</p>
      <p>Primero el exilio del primer Señor del Círculo, Godfrey.</p>
      <p>El nombramiento de Radagon como el segundo Señor del Círculo.</p>
      <p>
        Por supuesto… mucho tiempo después, la ruptura del Anillo… y el caos en
        el reino por la falta de un Señor del Círculo, de un monarca.
      </p>
      <p zanothwikiTooltip itemId="1">
        Guerras civiles en el reino estallaron sin un claro ganador, ¿Radahn,
        Malenia, Godrick…? ¿Quién gobernaría?
      </p>
      <p>...</p>
      <p>
        Morgott lo tenía muy claro: Cuando el sello que lo retenía en las
        cloacas perdió su fuerza, rompió sus cadenas. Acudió a su reino, detuvo
        las guerras civiles, expulsó a los semidioses… defendió Leyndell, a la
        Orden Dorada… a aquellos que lo condenaron a una vida como prisionero.
        Rechazó los ataques, protagonizó la segunda defensa del reino, y cuando
        por fin se declaró victorioso, gobernó desde las sombras; se convirtió
        en el Monarca Velado. Pero no pudo transformarse en el Señor del Círculo
        que por derecho le correspondía, ya que la transgresión de Marika había
        cerrado el árbol, y por ende no pudo tomar su posición.
      </p>
      <p>
        Morgott declaró a todos los semidioses como traidores, quizás por no
        apoyarlo en su legítimo reinado, quizás por haberse decantado en
        servidumbre a alternativas de la Orden Dorada, o simplemente por haber
        abandonado sus roles de protectores de la Orden. El que nadie pudiera
        tomar el rol de Señor del Círculo hizo que la Gran Voluntad, el Dios de
        las Tierras Intermedias, enfureciera por la traición de Marika y su
        ejecución brillante de un plan que llevaba años elucubrando. La Gran
        Voluntad cayó en la trampa de la Reina Eterna, invocando a los sinluz.
      </p>
      <p>
        Y así Morgott, el Monarca Velado empleó a caballeros negros para que
        recorrieran el negro matando a cuantos campeones se cruzaran,
        estableciendo medidas defensivas para la llegada de los sinluz, y hasta
        ocupándose personalmente de aquellos que lograran un avance
        significativo en su camino hacia Leyndell; y esto lo hizo sin abandonar
        su reino, gracias a sus poderes divinos: su sangre del linaje dorado, le
        permitía manifestarse físicamente en las Tierras Intermedias bajo el
        seudónimo de Margit, el augurio caído. Y así gobernó con mano dura
        defendiendo sus creencias.
      </p> -->
    </section>
    <section class="video">
      <zanothwiki-youtube-player
        [videoId]="script.youtubeVideoID"
      ></zanothwiki-youtube-player>
      <img
        width="1354"
        height="78"
        role="separator"
        src="assets/images/borders/feather.png"
        alt=""
      />
    </section>
  </ng-container>
  <ng-template #loadingScript> loadingScript... </ng-template>
</div>
