<button [routerLink]="['../']">volver al listado de guiones</button>

<ng-container *ngIf="script$ | async as script; loadingScript">
  <section class="script">
    <h1>{{ script.title }}</h1>
    <p>
      {{ script.content }}
    </p>
  </section>

  <iframe
    width="560"
    height="315"
    [src]="script.url | sanitize"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</ng-container>
<ng-template #loadingScript> loadingScript... </ng-template>
