<button [routerLink]="['../']">volver al listado de guiones</button>
<div class="container">
  <ng-container *ngIf="script$ | async as script; loadingScript">
    <section class="script">
      <div class="title">
        <h1>{{ script.title }}</h1>
        <img
          width="1354"
          height="78"
          role="separator"
          src="assets/images/borders/leaf.png"
          alt=""
        />
      </div>
      <p>
        {{ script.content }}
      </p>
    </section>
    <section class="video">
      <zanothwiki-youtube-player
        [videoId]="script.youtubeVideoID"
      ></zanothwiki-youtube-player>
      <img
        width="1354"
        height="78"
        role="separator"
        src="assets/images/borders/feather.png"
        alt=""
      />
    </section>
  </ng-container>
  <ng-template #loadingScript> loadingScript... </ng-template>
</div>
