// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@include mat.core();

$elden-ring-project-primary: mat.define-palette(mat.$indigo-palette);
$elden-ring-project-accent: mat.define-palette(mat.$pink-palette);

$zanothwiki-h1: mat.define-typography-level(
  $font-size: 4.2rem,
);

$zanothwiki-p: mat.define-typography-level(
  $font-size: 1.8rem,
  $line-height: 1.8,
);

$zanothwiki-typography: mat.define-typography-config(
  $headline-5: $zanothwiki-h1,
  $body-2: $zanothwiki-p,
  $font-family: "Noto Serif JP, sans",
);

$elden-ring-project-theme: mat.define-light-theme(
  (
    color: (
      primary: $elden-ring-project-primary,
      accent: $elden-ring-project-accent,
    ),
    typography: $zanothwiki-typography,
    density: 0,
  )
);

// Now we have sweet buttons with Comic Sans.
@include mat.all-component-themes($elden-ring-project-theme);
@include mat.typography-hierarchy($zanothwiki-typography);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  //  font-family: Roboto, "Helvetica Neue", sans-serif;
}
